(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("/Users/marc/Documents/z80/Zx50/fpu/fpu_rev1/waves/init.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "init_tb",
                "card0",
                "cpld",
            ],
            id: Wellen((53)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "init_tb",
                            "card0",
                            "cpld",
                        ],
                        id: Wellen((53)),
                    ),
                    name: "f_oe_n",
                    id: Wellen((139)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "f_oe_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "init_tb",
                            "card0",
                            "cpld",
                        ],
                        id: Wellen((53)),
                    ),
                    name: "m_oe_n",
                    id: Wellen((137)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_oe_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "init_tb",
                            "card0",
                            "cpld",
                        ],
                        id: Wellen((53)),
                    ),
                    name: "ca",
                    id: Wellen((141)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ca [13:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "init_tb",
                            "card0",
                            "cpld",
                        ],
                        id: Wellen((53)),
                    ),
                    name: "sp",
                    id: Wellen((150)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sp [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "init_tb",
                            "card0",
                            "cpld",
                        ],
                        id: Wellen((53)),
                    ),
                    name: "m_we_n",
                    id: Wellen((136)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_we_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "init_tb",
                            "card0",
                            "cpld",
                        ],
                        id: Wellen((53)),
                    ),
                    name: "cd",
                    id: Wellen((112)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "cd [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "init_tb",
                            "card0",
                            "cpld",
                        ],
                        id: Wellen((53)),
                    ),
                    name: "f_ce_n",
                    id: Wellen((140)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "f_ce_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "init_tb",
                            "card0",
                            "cpld",
                        ],
                        id: Wellen((53)),
                    ),
                    name: "f_we_n",
                    id: Wellen((114)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "f_we_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "init_tb",
                            "card0",
                            "cpld",
                        ],
                        id: Wellen((53)),
                    ),
                    name: "m_ce_n",
                    id: Wellen((138)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_ce_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
        },
        display_item_ref_counter: 10,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (1.0),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            116035,
        ])),
        markers: {},
        selected_annotation: None,
        annotations: [],
        annotation_groups: [
            (
                name: "Ungrouped",
                cycle_counter: 0,
                annotations: [],
            ),
        ],
        annotation_list_visible: false,
        annotation_counter: 0,
        last_active_viewport_idx: 0,
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: true,
    drag_source_idx: Some((7)),
    drag_target_idx: Some((
        before: (1),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: true,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    trace_style: None,
    transition_value: None,
    toolbar_group_enabled: {},
    toolbar_group_rows: [
        [
            "menu",
            "files",
            "copy",
            "zoom",
            "navigation",
            "transitions",
            "add_items",
            "viewports",
            "undo",
            "cxxrtl",
            "time",
            "annotations",
        ],
    ],
    draw_vector_unknowns_as_line: None,
    focus_highlight: None,
    show_annotation_list: false,
    enable_time_offset: None,
)