(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("waves/fpu_dispatch.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "fpu_dispatch_tb",
            ],
            id: Wellen((2)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "mgmt_sram_we_req",
                    id: Wellen((100)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "mgmt_sram_we_req",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "mgmt_sram_addr",
                    id: Wellen((97)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "mgmt_sram_addr [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "opcode",
                    id: Wellen((85)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "opcode [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "done_p",
                    id: Wellen((95)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "done_p",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (3): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "reset_n",
                    id: Wellen((86)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "reset_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "sp_in",
                    id: Wellen((87)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sp_in [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "exec_cmd",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "current_sp",
                    id: Wellen((105)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "current_sp [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "start_p",
                    id: Wellen((88)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "start_p",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "sp_write_en",
                    id: Wellen((102)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sp_write_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (17): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "sp_out",
                    id: Wellen((101)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sp_out [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "zclk",
                    id: Wellen((1)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "zclk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "mgmt_sram_oe_req",
                    id: Wellen((98)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "mgmt_sram_oe_req",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "mclk",
                    id: Wellen((84)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "mclk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "mgmt_sram_wdata",
                    id: Wellen((99)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "mgmt_sram_wdata [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "exec_cmd",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "cmd_opcode",
                    id: Wellen((104)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "cmd_opcode [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "err_flag",
                    id: Wellen((96)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "err_flag",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_dispatch_tb",
                            "dut",
                            "mgmt_engine",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "state",
                    id: Wellen((103)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "state",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (8): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
        },
        display_item_ref_counter: 21,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (1.0),
                target_left: (-0.2),
                target_right: (1.2),
                move_start_left: (-0.2),
                move_start_right: (1.2),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            902413,
        ])),
        markers: {},
        selected_annotation: None,
        annotations: [],
        annotation_groups: [],
        annotation_list_visible: false,
        annotation_counter: 0,
        last_active_viewport_idx: 0,
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: true,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: true,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(162.15625),
    ui_zoom_factor: None,
    animation_enabled: None,
    trace_style: None,
    transition_value: None,
    toolbar_group_enabled: {},
    toolbar_group_rows: [
        [
            "menu",
            "files",
            "copy",
            "zoom",
            "navigation",
            "transitions",
            "add_items",
            "viewports",
            "undo",
            "cxxrtl",
            "time",
            "annotations",
        ],
    ],
    draw_vector_unknowns_as_line: None,
    focus_highlight: None,
    show_annotation_list: false,
    enable_time_offset: None,
)