(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("waves/fpu_alu.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "fpu_alu_tb",
                "dut",
            ],
            id: Wellen((7)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "state",
                    id: Wellen((71)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "state [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "alu_mem_oe_req",
                    id: Wellen((62)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "alu_mem_oe_req",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "fmt",
                    id: Wellen((42)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "fmt [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "start_p",
                    id: Wellen((47)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "start_p",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (5): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "operand_b",
                    id: Wellen((70)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "operand_b [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "sp_in",
                    id: Wellen((46)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sp_in [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "carry_borrow",
                    id: Wellen((67)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "carry_borrow",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "op",
                    id: Wellen((44)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "op [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "alu_mem_addr",
                    id: Wellen((61)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "alu_mem_addr [13:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "reset_n",
                    id: Wellen((45)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "reset_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "acc",
                    id: Wellen((60)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "acc [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "alu_mem_we_req",
                    id: Wellen((64)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "alu_mem_we_req",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "byte_cnt",
                    id: Wellen((66)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "byte_cnt [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "err_flag",
                    id: Wellen((69)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "err_flag",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "alu_mem_wdata",
                    id: Wellen((63)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "alu_mem_wdata [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "done_p",
                    id: Wellen((68)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "done_p",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "mem_rdata",
                    id: Wellen((48)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "mem_rdata [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "alu_sel_flash",
                    id: Wellen((65)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "alu_sel_flash",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fpu_alu_tb",
                            "dut",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "mclk",
                    id: Wellen((43)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "mclk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (17): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
        },
        display_item_ref_counter: 22,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (1.0),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            6873,
        ])),
        markers: {},
        selected_annotation: None,
        annotations: [],
        annotation_groups: [
            (
                name: "Ungrouped",
                cycle_counter: 0,
                annotations: [],
            ),
        ],
        annotation_list_visible: false,
        annotation_counter: 0,
        last_active_viewport_idx: 0,
        focused_item: Some((20)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: true,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    trace_style: None,
    transition_value: None,
    toolbar_group_enabled: {},
    toolbar_group_rows: [
        [
            "menu",
            "files",
            "copy",
            "zoom",
            "navigation",
            "transitions",
            "add_items",
            "viewports",
            "undo",
            "cxxrtl",
            "time",
            "annotations",
        ],
    ],
    draw_vector_unknowns_as_line: None,
    focus_highlight: None,
    show_annotation_list: false,
    enable_time_offset: None,
)